*, *:before, *:after {
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

div.toolbar {
    background: hsla(0, 0%, 40%, 0.8);
    position: fixed;
    left: 0px;
    right: 0px;
    text-align: left;
    height: 64px;
    padding: 4px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

div.export textarea {
    width: 72%;
}

button {
    font-size: 1.2em;
    padding: 0px 12px;
    margin: 6px 6px;
    height: 44px;
    background: none;
    border: 1px solid #FFF;
    color: #FFF;
    border-radius: 3px;
    outline-width: 0;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

button:active,
button.active {
    background: #FFF;
    color: #000;
}

div.export {
    position: absolute;
    background: hsla(210, 20%, 50%, 1);
    width: 400px;
    height: 300px;
    top: 50px;
    right: 50px;
    z-index: 11;
}

button.right.export {
    float: right;
}

div.export textarea {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 30px;
}

div.export button {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
